.services {
  margin: 80px auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.service img {
  width: 300px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}
.service {
  flex-basis: 31%;
  position: relative;
}
.caption {
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(241, 157, 47, 0.726);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  opacity: 0;
  padding-top: 70%;
  transition: 0.4s;
}
.caption img {
  width: 75px; /* Set the width to 20px */
  height: 75px; /* Set the height to 20px */
  object-fit: contain; /* Ensure the image fits within the dimensions without distortion */
  margin-bottom: 10px;
}
.service:hover .caption {
  opacity: 1;
  padding-top: 0;
}
@media (max-width: 650px) {
  .services {
    flex-direction: column;
  }
  .service {
    flex-basis: 100%;
    margin: 20px;
  }
  .services-bot {
    margin-top: -75px;
  }
}
